@using Forum.Web.Areas.Owner.ViewModels.Role;
@model IEnumerable<UserRoleViewModel>

<div id="shoutbox" class="menu-bg-forum text-center">
    <h1><a id="main-heading-text" href="#">Edit Roles</a></h1>
</div>
<div class="mt-25">
    <table class="two-thirds-width posts-table mx-5-auto">
        <thead class="posts-table-head">
            <tr>
                <th class="p-10 bottom-black-border"><h2 class="m-10px">#</h2></th>
                <th class="p-10 bottom-black-border"><h2 class="m-10px">User</h2></th>
                <th class="p-10 bottom-black-border"><h2 class="m-10px">Role</h2></th>
                <th class="p-10 bottom-black-border"><h2 class="m-10px">Actions</h2></th>
            </tr>   
        </thead>
        <tbody class="posts-table-body text-center">
            @foreach (var userRole in Model)
            {
            <tr>
                <td class="text-forum"> <i class="fab fa-forumbee fa-3x"></i></td>
                <td class="text-forum"><h2>@userRole.User.UserName</h2></td>
                <td class="text-forum"><h2>@userRole.Role.Name</h2></td>
                <td class="text-forum">
                    <div class="m-10">
                        <a class="menu-bg-forum text-white m-10px p-10 border-none border-5" href="#">Promote</a>
                    </div>
                    <div class="m-10">
                        <a class="bg-dark-red text-white m-10px p-10 border-none border-5" href="#">Demote</a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>