html {
    height: 100%;
}

.text-white{
    color:white;
}

.float-right{
    float:right;
}

.mt-25{
    margin-top:25px;
}

.rounded{
    border-radius:5px;
}

.styled-select select {
    justify-content: center;
    border: none;
    font-size: 19px;
    padding: 10px; /* If you add too much padding here, the options won't show in IE */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
}
.dropbtn {
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.admin-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

    /* Links inside the dropdown */
    .admin-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

        /* Change color of dropdown links on hover */
        .admin-dropdown-content a:hover {
            background-color: #d9d9d9;
            border-radius: 5px;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .admin-dropdown-content {
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
.profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

        /* Change color of dropdown links on hover */
    .profile-dropdown-content a:hover {
        background-color: #d9d9d9;
        border-radius: 5px;
    }

/* Show the dropdown menu on hover */
.dropdown:hover .profile-dropdown-content {
    display: block;
}


.text-forum {
    color: #1a1a1a;
}

.text-center {
    text-align: center;
}

.menu-bg-forum {
    background-color: #1a1a1a;
}

.bg-forum {
    background-color: #cccccc;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.one-third-width {
    width: 30%;
}

.two-thirds-width {
    width: 70%;
}

.error {
    text-align: center;
    color: red;
    font-size: 22px;
}

#header {
    height: 100%;
}

ul > li > a:hover {
    color: rgb(82, 69, 53);
}

.text-danger {
    color: red;
    text-align: center;
}

a {
    text-decoration: none;
}

.radio-div {
    text-align: center;
}

.test {
    display: inline;
}

.register-container {
    margin: 0px auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.gender-select-hide {
    display: none;
}

.gender-select:after {
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

#title-container {
    background-color: #262626;
    padding: 30px;
}

#main-heading-text {
    color: white;
}

    #main-heading-text:hover {
        text-decoration: line-through;
        color: burlywood;
    }

#register {
    position: relative;
}

#title-container h1 {
    margin: 0;
    display: inline;
    color: white;
    padding: 40px;
}

.forum-container h2 {
    margin-left: 10%;
}

.forum-container h3 {
    font-size: 26px;
}

.forum-container {
    background: burlywood;
    margin: 25px;
    border-radius: 15px 15px 0px 0px;
    border: #1a1a1a solid 1px;
    color: #1a1a1a;
}

.forum-information-container {
    background-color: #1a1a1a;
}

    .forum-information-container > p {
        color: white;
        padding-top: 0;
        margin: 0px 0px 0px 20%;
    }

.forum-content > div {
    border-bottom: black solid 1px;
}

.forum-content {
    border-top: #1a1a1a solid 6px;
    color: #1a1a1a;
    background: white;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: minmax(100px auto);
}


.container {
    background-position: center;
    min-height: inherit;
    margin:5%;
    font-size: 18px;
    padding: 20px;
}

    .container h1 {
        text-align: center;
        color: #1a1a1a;
    }

    .container p {
        text-align: center;
        color: #1a1a1a;
    }

.hr-1 {
    height: 4px;
    width: 50%;
    border-radius: 10px;
    /* background-color: #1a1a1a; */
}

.my-form {
    margin: auto;
}

    .my-form > .register-container > .block > label {
        font-weight: bold;
        margin: 10px 0px;
        text-align: center;
        display: block;
        font-size: 20px;
    }

    .my-form > .block > label {
        font-weight: bold;
        margin: 10px 0px;
        text-align: center;
        display: block;
        font-size: 20px;
    }

    .my-form > .radio-div > label {
        margin: 10px 0px;
        text-align: center;
        font-size: 16px;
    }

.block input[type="text"], input[type="password"], input[type="email"] {
    font-size: 20px;
    text-align: center;
}

input {
    background-color: white;
}

.forum-icon {
    padding: 10px
}

.block input {
    height: 30px;
    border: #1a1a1a solid 1px;
    border-radius: 5px;
}

.block {
    text-align: center;
    padding: 10px;
}

.submit-button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 70px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

    .submit-button:hover {
        background-color: burlywood;
        color: black;
    }

.center-button {
    margin: 20px 0px;
    text-align: center;
}

.post-image {
    padding: 0.3em;
    font-size: 2vw;
}

.post-title {
    text-align: start;
}

.my-list {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    list-style: none;
    padding: 10px 60px;
}

    .my-list li {
        display: inline;
        margin-right: 20px;
    }

.button:hover {
    color: slategrey;
}

.button {
    text-decoration: none;
    color: white;
    display: inline;
}

/*      ---------          */
#wrapper {
    position: relative;
}

.content-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#header {
    padding: 0px;
}

#info {
    background-color: #e6e6e6;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.info-block {
    border: black;
    border-radius: 20px;
}

#shoutbox {
    margin: 20px;
}

    #shoutbox > h1 {
        padding: 3%;
    }

.content {
    padding-bottom: 0px;
    margin: 0px 2%;
    background-color: #e6e6e6;
    border: #262626 solid 1px;
    position: relative;
    /* Height of the footer element */
}

@media screen and (max-width: 1000px) {
    .content {
        padding-bottom: 0px;
        margin: 0px;
        background-color: #e6e6e6;
        border: #262626 solid 1px;
        position: relative;
        /* Height of the footer element */
    }
}

.content > h1 {
    color: #1a1a1a;
    text-align: center;
}

.post-title > h4 {
    margin: 5%;
}

#footer {
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    left: 0;
    border-bottom: #1a1a1a solid 2px;
}
