<h3 class="menu-bg-forum text-center text-white p-10 m-0">Chatting with Pesho</h3>
<div id="chat-box" class="p-10">
    <div class="bg-burly text-forum p-10 m-10px half-width float-left border-5">
        <p class="bold m-0">Pesho said:</p>
        <p class=" p-10">This is a test conversation</p>
        <p class="m-0 font-14 text-end"><b>Sent on</b> 01-01-2000 at 15:25</p>
    </div>
</div>
<div class="content-container mt-25">
    <div class="p-10 text-end">
        <textarea id="Description" rows="5" class="full-width font-18"></textarea>
        <button id="sendButton" class="m-0 p-0 submit-button menu-bg-forum text-white" type="submit" ><i class="fas fa-share-square"></i></button>
    </div>
    <div id="chat-emoticons-wrapper" class="text-center p-10">
        <button type="button" class="emote">😀</button>
        <button type="button" class="emote">😃</button>
        <button type="button" class="emote">😄</button>
        <button type="button" class="emote">😆</button>
        <button type="button" class="emote">🤣</button>
        <button type="button" class="emote">🙂</button>
        <button type="button" class="emote">😉</button>
        <button type="button" class="emote">😊</button>
        <button type="button" class="emote">😇</button>
        <button type="button" class="emote">😍</button>
        <button type="button" class="emote">😘</button>
        <button type="button" class="emote">😋</button>
        <button type="button" class="emote">😛</button>
        <button type="button" class="emote">🤑</button>
        <button type="button" class="emote">🤔</button>
        <button type="button" class="emote">😐</button>
        <button type="button" class="emote">😶</button>
        <button type="button" class="emote">😬</button>
        <button type="button" class="emote">😴</button>
        <button type="button" class="emote">🤒</button>
        <button type="button" class="emote">😎</button>
        <button type="button" class="emote">🙁</button>
        <button type="button" class="emote">😮</button>
        <button type="button" class="emote">😲</button>
        <button type="button" class="emote">😥</button>
        <button type="button" class="emote">😭	</button>
        <button type="button" class="emote">😓</button>
        <button type="button" class="emote">😡</button>
        <button type="button" class="emote">😈</button>
        <button type="button" class="emote">💩</button>
        <button type="button" class="emote">❤</button>
    </div>
</div>