<div class="text-center p-10 text-white menu-bg-forum">
    <h2 class="text-center text-white">Change Username</h2>
    <hr class="bg-white" />
    <form asp-controller="Account" asp-action="ChangeUsername" method="post" class="m-10">
        <h3 class="m-0"><label>Old Username</label></h3>
        <div class="block">
            <input type="text" name="oldUsername" />
        </div>
        <h3 class="m-0"><label>New Username</label></h3>
        <div class="block">
            <input type="text" name="newUsername" />
        </div>
        <div class="block m-10">
            <input class="submit-button bg-white text-forum" type="submit" value="Submit" />
        </div>
    </form>
</div>