<div id="shoutbox" class="menu-bg-forum text-center">
    <h1><a id="main-heading-text" href="#">Registered on: 01-01-1987</a></h1>
</div>
<div class="three-fragments-grid text-forum text-center mx-5-auto two-thirds-width p-10">
    <div class="text-white menu-bg-forum p-10 ">
        <h4>Gender: Male</h4>
    </div>
    <div class="text-white menu-bg-forum p-10">
        <h4>Posts count: 9999</h4>
    </div>
    <div class="text-white menu-bg-forum p-10">
        <h4>From: Unknown</h4>
    </div>
</div>