<div id="shoutbox" class="menu-bg-forum text-center">
    <h1><a id="main-heading-text" href="#">Welcome, Pesho!</a> </h1>
</div>
<div class="three-fragments-grid text-forum text-center p-10">
    <div class="text-white menu-bg-forum p-10">
        <h4>Posts count: 9999</h4>
    </div>

    <div class="text-white menu-bg-forum p-10">
        <h4>Gender: Male</h4>
    </div>

    <div class="text-white menu-bg-forum p-10">
        <h4>Registered on: 01-01-1987</h4>
    </div>
</div>
<h4 class="text-forum text-center">From: Unknown</h4>
