@model List<string>

<div class="text-center bg-burly text-forum block m-10px">
    <h3 class="m-0">
        <label class="text-forum">Search:</label>
    </h3>
    <form autocomplete="off" action="/" method="post">
        <div class="autocomplete">
            <input id="myInput" class="full-width border-5 border-none" type="text" placeholder="Search for users..." />
        </div>
    </form>
</div>

<div class="menu-bg-forum m-0">
    <div class="text-center m-0 text-white">
        <button class="menu-bg-forum m-0 p-10 full-width text-white border-none"><h3>Global Chat</h3></button>
    </div>
</div>
<h4 class="text-center text-forum bg-burly p-10 m-0">Recent Conversation</h4>
<div class="menu-bg-forum m-0">
    <div class="text-center m-0 text-white">
        <h4 class="m-0">Pesho</h4>
    </div>
    <div class="text-center text-white">
        <h4>Pesho</h4>
    </div>
    <div class="text-center text-white">
        <h4>Pesho</h4>
    </div>
</div>

<script src="../js/searchAutocomplete.js"></script>
<script>
/*An array containing all the country names in the world:*/
    var names = [];

    @foreach (var name in Model)
    {
        @: names = names.concat('@name');
    }
    
    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("myInput"), names);
</script>