
<div class="content-container m-10">
    <div>
        <h1 class="text-forum">Profile picture</h1>
        <img src="~/images/showcase.jpg" height="250" width="250" alt="image" />
    </div>
    <div>
        <h1 class="text-forum">TEST</h1>
    </div>
</div>