<div >
    <div class="profile-container m-5">
        <div>
            <i class="fas fa-user-alt fa-10x text-forum"></i>
        </div>
        <div>
            <nav class="main-nav menu-bg-forum border-5">
                <div class="forum-navigation text-center">
                    <div class="display-inline forum-navigation.button">
                        <button onclick="location.href='/'" class="forum-navigation-button menu-bg-forum full-width">My Info</button>
                    </div>
                    <div class="display-inline forum-navigation.button">
                        <button onclick="location.href='/'" class="forum-navigation-button menu-bg-forum full-width">Statistics</button>
                    </div>
                    <div class="display-inline forum-navigation.button">
                        <button class="forum-navigation-button menu-bg-forum full-width">Settings</button>
                    </div>
                    <div class="display-inline">
                        <button class="forum-navigation-button menu-bg-forum full-width" onclick="location.href='/Account/Logout'">Logout</button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>