@using Microsoft.AspNetCore.Identity

@inject SignInManager<ForumUser> SignInManager
@inject UserManager<ForumUser> UserManager

@if (this.User.Identity.IsAuthenticated)
{
    <li class="float-right">
        <div class="dropdown">
            <a class="button" href="#">My Profile <i class="fas fa-user-circle fa-lg"></i></a>
            <div class="profile-dropdown-content border-5">
                <a href="/Account/Profile">Profile <i class="fas fa-user-alt"></i></a>
                <a asp-controller="Account" asp-action="Dismiss">Logout <i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </li>
}
else
{
    <li class="float-right"><a class="button" href="/Account/Login">Login</a></li>
    <li class="float-right"><a class="button" href="/Account/Register">Register</a></li>
}