@if (this.User.IsInRole("Administrator"))
{
    <div class="dropdown">
        <a class="button" onclick="myFunction()"><i class="fas fa-bars fa-lg"></i></a>
        <div id="myDropdown" class="admin-dropdown-content border-5">
            <a asp-controller="Forum" asp-action="Create">New Forum</a>
            <a asp-controller="Category" asp-action="Create">New Category</a>
            <a asp-controller="Report" asp-action="All">View Reports</a>
        </div>
    </div>
}