<div id="create-post-div" >
    <button id="post-topic-button" class="menu-bg-forum"><h3><i class="fas fa-plus"></i> Post a Topic</h3></button>
</div>


<table class="two-thirds-width posts-table mx-5-auto">
    <thead class="posts-table-head">
        <tr>
            <th class="p-10 bottom-black-border"><h2>#</h2></th>
            <th class="p-10 bottom-black-border"><h2>Test</h2></th>
            <th class="p-10 bottom-black-border"><h2>Test</h2></th>
            <th class="p-10 bottom-black-border"><h2>Test</h2></th>
        </tr>
    </thead>
    <tbody class="posts-table-body text-center">
        <tr>
            <td class="p-10 text-forum "><i class="far fa-list-alt fa-lg"></i></td>
            <td class="p-10 text-forum">test</td>
            <td class="p-10 text-forum">test</td>
            <td class="p-10 text-forum">test</td>
        </tr>
        <tr>
            <td class="p-10 text-forum "><i class="far fa-list-alt fa-lg"></i></td>
            <td class="p-10 text-forum">test</td>
            <td class="p-10 text-forum">test</td>
            <td class="p-10 text-forum">test</td>
        </tr>
        <tr>
            <td class="p-10 text-forum "><i class="far fa-list-alt fa-lg"></i></td>
            <td class="p-10 text-forum">test</td>
            <td class="p-10 text-forum">test</td>
            <td class="p-10 text-forum">test</td>
        </tr>
        <tr>
            <td class="p-10 text-forum "><i class="far fa-list-alt fa-lg"></i></td>
            <td class="p-10 text-forum">test</td>
            <td class="p-10 text-forum">test</td>
            <td class="p-10 text-forum">test</td>
        </tr>
        <tr>
            <td class="p-10 text-forum "><i class="far fa-list-alt fa-lg"></i></td>
            <td class="p-10 text-forum">test</td>
            <td class="p-10 text-forum">test</td>
            <td class="p-10 text-forum">test</td>
        </tr>
    </tbody>
</table>